.card {
  max-width: 413px;
  position: relative;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: normal;
}

.card__image {
  height: 413px;
  object-fit: cover;
  width: 100%;
  display: block;
  border-radius: 8px;
  cursor: pointer; /* Shows hand cursor on hover */
  transition: transform 0.3s ease; /* Smooth animation */
  margin-bottom: 12px;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px; /* Don't forget positioning! */

  /* Add the delete icon */
  background-image: url("../images/delete.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 32px;

  /* Make it look like a button */
  background-color: transparent;
  border: none;
  cursor: pointer;

  /* Add smooth transitions */
  transition:
    opacity 0.3s ease,
    transform 0.2s ease;
}

.card__delete-button:hover {
  border-radius: 50%;
  background-color: #ff6565;
}

/* TODO - hover state for delete button */

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/Like\ Icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.card__like-btn:hover {
  opacity: 0.8;
}

.card__like-button_active {
  background-image: url(../images/like-active.svg);
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px; /* Smaller width for mobile */
  }
}
